@model List<Clarity.Core.Domain.Notification>

<div class="card equipment-color">
    <div class="card-header-equipment">
        <div class="card-head">
            <div class="row justify-content-between">
                <h2>Notifications in the system</h2>
                <a class="btn btn-primary" asp-action="Create">New Notification</a>
            </div>
        </div>
    </div>
    <div class="card-content">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Sender</th>
                    <th>Recipient</th>
                    <th>Subject</th>
                    <th>Date</th>
                    <th>Pending?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">View</a></td>
                        <th>@item.Sender</th>
                        <th>@item.Recipient</th>
                        <th>@item.Subject</th>
                        <th>@item.DateTimeCreated</th>
                        <th>
                        @{ var itemPending = item.Pending ? "checked" : "";}
                        <input class="form-check-input mt-0" style="font-size: 25px" type="checkbox" @itemPending  disabled />                           
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </</div>
</div>